*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	background: #f65a83;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.container{
	width: 92%;
	height: 85%;
	display: flex;
	background: white;
	justify-content: center;
	align-items: center;
}

.content{
	display: grid;
	width: 98%;
	height: 97%;
	grid-template-columns: repeat(2, 50%);
}

.text-content{
	margin: 6%;
	height: 69%;
}

form{
	margin-top: 30px;
	height: 30%;
}

form input{
	width: 100%;
	height: 28%;
	margin-bottom: 10px;
	padding: 5px;
	border: 2px solid rgba(192, 192, 192, 0.8);
	border-radius: 10px;
	background-color: rgba(192, 192, 192, 0.2);
}


form input:focus{
	background-color: white;
	border: none;
}

/*form input[type=checkbox]{
	width: 10%;
	height: 13%;
}

small{
	color: #f65a83;
	position: relative;
	bottom: 5px;
	right: 15px;
}*/

form button{
	margin-top: 13px;
	width: 120px;
	height: 40px;
	border: 1.5px solid rgba(192, 192, 192, 0.8);
	border-radius: 10px;
	padding: 10px;
	margin-right: 10px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.7);
}

form button[type=submit]{
	background: #f65a83;
}

form button[type=submit]:hover{
	color: #fff;
}

form button[type=button]{
	background: #fff;
}

form button[type=button]:hover{
	color: #fff;
	background: #f65a83;
}

h5{
	margin-top: 18%;
}

.social-networks a{
	text-decoration: none;
	width: 100%;
}

.social-networks img{
	width:60%
}


.social-networks{
	margin-top: 5%;
	display: flex;
	width: 25%;
	justify-content: space-between;
}

.anim{
	opacity: 0;
	animation: moveup 1.5s forwards;
/*	transform: translateY(30px);
*/}

@keyframes moveup{
	100%{
		opacity: 1;
/*		transform: translateY(0px);
*/	}
}


/*Second Grid*/

.pics-collection{
	display: grid;
	height: 71%;
	width: 100%;
	grid-template-columns: repeat(3, 33.3%);
	grid-template-rows: repeat(4, 25%);
}

.pics-collection div{
	border: 0.5px solid rgba(192, 192, 192, 0.2);
}

.one{
	border-top-right-radius: 50%;
	object-fit: cover;
}

.two{
	border-bottom-left-radius: 50%;
	background-color: #ffdeb4;
}

.three{
	border-top-left-radius: 50%;
}

.four{
	border-radius: 50%;
	background-color: #f0ebe3;
}

.five{
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	background-color: #cddeff;
}

.six{
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	background-color: #f0ebe3;
}

.seven{
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background-color: #cddeff;
}
.eight{
	border-bottom-left-radius: 50%;
	border-right: 0px;
	background-color: #f0e5cf;
}

.nine{
	border-top-right-radius: 50%;
	border-left: 0px;

}

.ten{
	border-top-right-radius: 50%;
	background-color: #ffdeb4;
}

.eleven{
	border-radius: 50%;
	background-color: #f0ebe3;

}

.twelve{
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background-color: #ffdeb4;
}

#moon{
	cursor: pointer;
}



@media only screen and (max-width: 800px){
	.pics-collection{
		display: none;
	}

	.content{
		display: flex;
		justify-content: center;
		width: 100%;
	}

	h1{
		text-align: center;
	}

	form input{
		height: 35%;
	}

	.button{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	h5{
		text-align: center;
		justify-content: center;
	}

	.social-networks{
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 500px){
	h1{
		font-size: 23px;
	}

	.text-content p{
		font-size: 16px;
		text-align: center;
	}

	form input{
		height: 30%;
	}

	form button{
		width: 28%;
		font-size: 11px;
	}

	.button{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	h5{
		text-align: center;
		margin-top: 38%;
		font-size: 12px;
	}

	.social-networks{
		margin-left: auto;
		margin-right: auto;
	}
}